In [1]:
list_1 = [1,2,3,4,5]

In [2]:
list_1[2]='AVM'
list_1

[1, 2, 'AVM', 4, 5]

In [3]:
name =('Aditya','Yuvraj','Nishad',)

In [4]:
employee_name = {'Aditya':list,'Yuvraj':24,'Nishad':25}
employee_name

{'Aditya': list, 'Yuvraj': 24, 'Nishad': 25}

In [5]:
employee_name['Yuvraj']=28
employee_name

{'Aditya': list, 'Yuvraj': 28, 'Nishad': 25}

In [6]:
def name_change(x):
    for n in x:
        if n == 'Nilesh':
            print('Renu')
        else:
            print(n)

In [7]:
name_change(['Pankaj','Nilesh','Kamini'])

Pankaj
Renu
Kamini

In [8]:
price = {'Tata_steel':64,
         'KEC':102,
         'MS':2204}
quantity = {'Tata_steel':10,
         'KEC':5,
         'MS':2}

total_money_spent = 0

In [9]:
for p in price:
    total_money_spent = total_money_spent + (price[p] * quantity[p])
    
print(total_money_spent)

5558

In [10]:
dict1 = {'a': 2, 'b': 3, 'c': 4}
dict2 = {'b': 5, 'c': 6, 'd': 7}

result_dict = {}
for key in set(dict1).union(dict2):
    if key in dict1 and key in dict2:
        result_dict[key] = dict1[key] * dict2[key]
    elif key in dict1:
        result_dict[key] = dict1[key]
    elif key in dict2:
        result_dict[key] = dict2[key]

print(result_dict)

{'c': 24, 'd': 7, 'b': 15, 'a': 2}

In [11]:
list_1 = [1,2,3,4,5,6]

In [12]:
for n in list_1:
    print(n, end=' ')

1 2 3 4 5 6

In [13]:
x = 10
while x < 20:
    print(x, end=' ')
    x += 1

10 11 12 13 14 15 16 17 18 19

In [14]:
range(10)

range(0, 10)

In [18]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [19]:
for n in range(0,10,2):
    print(n)

0
2
4
6
8

In [24]:
for n in range(0,21):
    if n % 2 != 0:
        print('Odd', end=' ')
    else:
        print(n, end=' ')

0 Odd 2 Odd 4 Odd 6 Odd 8 Odd 10 Odd 12 Odd 14 Odd 16 Odd 18 Odd 20

In [6]:
for n in range(1,51):
    if n == 2:
        print(n,end=' ')
    elif n == 3:
        print(n,end=' ')
    elif n == 5:
        print(n,end=' ')
    elif n == 7:
        print(n,end=' ')
    elif n == 11:
        print(n,end=' ')
    elif n == 13:
        print(n,end=' ')
    elif n == 17:
        print(n,end=' ')
    elif n == 19:
        print(n,end=' ')
    elif n == 23:
        print(n,end=' ')
    elif n == 29:
        print(n,end=' ')
    elif n == 31:
        print(n,end=' ')
    elif n == 37:
        print(n,end=' ')
    elif n == 41:
        print(n,end=' ')
    elif n == 43:
        print(n,end=' ')
    elif n == 47:
        print(n,end=' ')
    else:
        print('',end='')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [1]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

for num in range(1, 51):
    if is_prime(num):
        print(num, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

In [9]:
int(4**0.5)

2