# Working with text data

In [1]:
product_category = 'A'
print('This item is from from the product category "$s"')

This item is from from the product category "$s"

This shows that currently %s is not carring the meaning which we want it to carry, which is toprint the value 'A', so now we will use MODULUS OPERATOR = %

In [2]:
product_category = 'A'
print('This item is from from the product category "%s".' % product_category)

This item is from from the product category "A".

Now as we can see the values are being printed as we wanted if you want to change the value in this condition you just need to change the product value and rest will happen automatically.

Now if we use a list of objects

In [3]:
product_category = ['A','B']
print('This item is from product category "%s".' % product_category[0])
print('This item is from product category "%s".' % product_category[1])

This item is from product category "A".
This item is from product category "B".

Now if we are dealing with numbers we use, %d

In [4]:
quantities = [100,500]
print('We currently have %d available units of this item.' % quantities[1])
print('We currently have %d available units of this item.' % quantities[0])

We currently have 500 available units of this item.
We currently have 100 available units of this item.

Now if the numbers are floats

In [5]:
stock_share_price_list = [40,50,60,35]
print("This stock costs $%f per share." % stock_share_price_list[0])
print("This stock costs $%.f per share." % stock_share_price_list[2])
print("This stock costs $%.1f per share." % stock_share_price_list[1])

This stock costs $40.000000 per share.
This stock costs $60 per share.
This stock costs $50.0 per share.

What you write in between the $%f decides what will be decimal places

Now if we want to specify values together of multiple objects we use

In [6]:
i = 0
print("Currently, we have %d units of category '%s' product in store." % (quantities[i],product_category[i]))

Currently, we have 100 units of category 'A' product in store.

Now if we want to place a character in a new line we can use \n

In [7]:
print('This product is from \nCategory "A"')
#The more \n you put the more space will be created between the string

This product is from
Category "A"

Now if we want tp put a tab we can put \t

In [8]:
print('This product is from Category "A".\tThat product is from Category "B"')

This product is from Category "A".	That product is from Category "B"

Now if you want to shift the character we use \r, it replaces the same number of characters as we request

In [9]:
print('This product is from Category "A". \rProduct 0001')

Product 0001

# String Methods

In [10]:
s = 'Price per unit'
s

'Price per unit'

Now to replace something we will use .replace() method and in () we put what to replace, with what.

In [11]:
s1 = s.replace('Price','Cost')
s1

'Cost per unit'

.startwith() method is used to check if the perticular strings starts with the given input. It is useful in String Validation, File Filtering, URL Handling,etc

In [12]:
s1.startswith('Cost')

True

In [13]:
s1.startswith('cost')

False

Be very care full while using this method as python is case sensitive

Moving on to endswith()

In [14]:
s1.endswith('it')

True

Now we will see one of the most important method in string manipulation which is .split(): It splits the original string bya aspecified argument and returns a list containing the separate values

In [15]:
s1

'Cost per unit'

In [16]:
s1.split()

['Cost', 'per', 'unit']

In [17]:
len(s1.split())

3

In [18]:
s1.split(' ')

['Cost', 'per', 'unit']

In [19]:
s1.split('') 
#this will show as error cause there is no value
#In above cases the empty() shows the max splits and (' ') has a white space as the parameter

ValueError: empty separator

In [20]:
s1.split('per')

['Cost ', ' unit']

In [21]:
s1.split(' ', maxsplit = 0)

['Cost per unit']

In [22]:
s2 = 'Mr,John,Karter'

In [23]:
s2.split(',')

['Mr', 'John', 'Karter']

In [24]:
s2.split(',')[0]

'Mr'

Thats how split workes

# String methods that  change case

In [25]:
s3 = 'Mr. Aditya Meshram'

In [26]:
s3.upper()

'MR. ADITYA MESHRAM'

In [27]:
s3.lower()

'mr. aditya meshram'

In [28]:
s3.capitalize()

'Mr. aditya meshram'

In [29]:
s3.title()

'Mr. Aditya Meshram'

As you can see the methods .upper(),.lower(),.capitalize(),.title() are used to make the string all upperc case, all lower case, capitalize 1st alphabet, capitalize 1st alphabet of each word.

# String methods that can strip

In [30]:
s4 = ' quarterly earnings report '

In [31]:
s4.strip()

'quarterly earnings report'

As you can see this method removes white spaces from beginning and end of the string.

In [32]:
s4.strip(' ')

'quarterly earnings report'

In [33]:
s4.strip(' qt')

'uarterly earnings repor'

In [34]:
s4.strip('qt') #thats what happens when you dont tell to remove white spaces

' quarterly earnings report '

In [35]:
s4.lstrip()

'quarterly earnings report '

In [36]:
s4.rstrip()

' quarterly earnings report'

In [37]:
#If you want to strip a complete word please be sure that if 
#Same alphabets from otherwords will be removed
s4.strip(' quarterly')
#in such situation use below code

'nings repo'

In [38]:
s5 = s4.strip()
s5

'quarterly earnings report'

In [39]:
s5.lstrip('quarterly')

' earnings report'

In [40]:
#Mostly the strip method is used to remove unnecssary symbols from name
s6 = "@#$!%s" % s4
s6.strip('!@#$%^&')

' quarterly earnings report '

# String Accessors

In [41]:
#we are using pandas series here so we will import it
import pandas as pd

In [42]:
operational_kpis = pd.Series(["employee satisfaction rating",
                              "employee churn rate"])
operational_kpis

0    employee satisfaction rating
1             employee churn rate
dtype: object

In [43]:
operational_kpis.lstrip('employee')

AttributeError: 'Series' object has no attribute 'lstrip'

In [44]:
operational_kpis[0].lstrip('employee')

' satisfaction rating'

In [45]:
operational_kpis[1].lstrip('employee')

' churn rate'

In [46]:
pd.Series([operational_kpis[0].lstrip('employee'),operational_kpis[1].lstrip('employee')])

0     satisfaction rating
1              churn rate
dtype: object

In [47]:
#but there is a easier way of doing this
operational_kpis.str

In [48]:
operational_kpis.str[1] # this gives the 1st character

0    m
1    m
dtype: object

In [49]:
operational_kpis[1] #this gives the value at 1st position

'employee churn rate'

In [50]:
operational_kpis.str.lstrip('employee')

0     satisfaction rating
1              churn rate
dtype: object

what if there not just string but other type of value

In [51]:
test_series = pd.Series(['Text_data',34])
test_series

0    Text_data
1           34
dtype: object

In [52]:
test_series.str.lstrip('Text_')

0    data
1     NaN
dtype: object

So this will happen if one of it is not a string

In [53]:
#So the way to go is
test_series = pd.Series(['Text_data','34'])
test_series.str.lstrip('Text_')

0    data
1      34
dtype: object

In [54]:
house_price = pd.Series(['$400,000','$500,000','$600,000'])
house_price

0    $400,000
1    $500,000
2    $600,000
dtype: object

In [55]:
house_price.str.contains('$')

0    True
1    True
2    True
dtype: bool

# Using the .format()

In [56]:
time_horizon = 1,3,12
time_horizon

(1, 3, 12)

In [57]:
product = ['Product A','Product B']
product

['Product A', 'Product B']

In [58]:
'Expected sales for a period of {} month(s) for {}:'.format(12,'Product B')

'Expected sales for a period of 12 month(s) for Product B:'

In [59]:
'Expected sales for a period of {} month(s) for {}:'.format(time_horizon,product)

"Expected sales for a period of (1, 3, 12) month(s) for ['Product A', 'Product B']:"

In [60]:
'Expected sales for a period of {} month(s) for {}:'.format(time_horizon[2],product[1])

'Expected sales for a period of 12 month(s) for Product B:'

In [63]:
'Expected sales for a period of {0} month(s) for {1}:'.format(time_horizon[2],product[1])

'Expected sales for a period of 12 month(s) for Product B:'

In [64]:
'Expected sales for a period of {1} month(s) for {0}:'.format(time_horizon[2],product[1])

'Expected sales for a period of Product B month(s) for 12:'

In [65]:
'Expected sales for a period of {t_hor} month(s) for {prod}:'.format(t_hor=12,prod='Product B')
#this is actually the most intutitive methods used in python

'Expected sales for a period of 12 month(s) for Product B:'

In [66]:
'Expected sales for a period of {t_hor} month(s) for {prod}:'.format(t_hor=12,prod=['Product A','Product B'])

"Expected sales for a period of 12 month(s) for ['Product A', 'Product B']:"

In [68]:
'Expected sales for a period of {t_hor} month(s) for {prod[1]}:'.format(t_hor=12,prod=['Product A','Product B'])

'Expected sales for a period of 12 month(s) for Product B:'

In [69]:
'Expected sales for a period of {t_hor[2]} month(s) for {prod[1]}:'.format(t_hor=time_horizon,prod=product)

'Expected sales for a period of 12 month(s) for Product B:'

In [70]:
'Expected sales for a period of {t_hor} month(s) for {prod[1]}: ${sales}'.format(t_hor=12,prod=['Product A','Product B'], sales = 10000)

'Expected sales for a period of 12 month(s) for Product B: $10000'

In [71]:
'Expected sales for a period of {0} month(s) for {prod[1]}:'.format(12,prod=['Product A','Product B'])

'Expected sales for a period of 12 month(s) for Product B:'