Following asssignment contains all possible topics which come in the category of "Basic_1" please go through this assignment atleast twice to reinforce your concept

# Variables

Create a variable with name, "your name" and a value of "your age". Execute.

In [2]:
vanshika=24

Tell the computer to show the value of the created variable(There are two ways to do this)

In [3]:
print (vanshika)

24

In [4]:
vanshika

24

Create four variables with value 10,20,30,40 respectively

In [6]:
a,b,c,d = 10,20,30,40

Now print each variables value separately

In [7]:
print(a)

10

In [8]:
b

20

In [9]:
c

30

In [10]:
d

40

# Numbers and Boolean Values

Create a variable equal to "True"

In [12]:
v = True

Check its type

In [13]:
type(v)

bool

Create a variable equal to 99, check its type and change it's type

In [14]:
s = 99

In [15]:
type(s)

int

Create a variable equal to 0.99, check its type and change it's type

In [16]:
b = 0.99

In [17]:
type(b)

float

Assign the value 1000 to the variable "life", now with the help of "life", create a one line code which has output 1000 ways to live.

In [25]:
life = 1000

In [26]:
str(1000) + ' ways to live'

'1000 ways to live'

Produce an output equal to It's cool, isn't it?

In [27]:
str( "it's cool, isn't it ? ")

"it's cool, isn't it ? "

Fix my mistake ;-)

In [29]:
 " don't be stiff "

" don't be stiff "

Produce an output equal to Click "YES"

In [30]:
"Click ' YES'"

"Click ' YES'"

# Arithmetic Operation

Combine 10 and 23 and then subtract it

In [31]:
10 + 23

33

In [32]:
23 - 10

13

Divide 20 by 4, Divide 22 by 4,Divide the float 22 by 4, Find remainder of 22/4

In [34]:
20 / 4

5.0

In [35]:
22/ 4

5.5

In [36]:
float(22) / 4

5.5

In [37]:
22 % 4

2

Multiply 25 by 2 and then, put 2 to the power of 25

In [39]:
25 * 2

50

In [41]:
2 ** 25

33554432

# The double-equality sign

Demonstrate that 100 is not equal to 10**3

In [42]:
100 == 10 ** 3

False

# Reassign Values

Assign the value of 14 to p, calculate p + 20, then assign 25 to p and Calculate p + 55

In [43]:
p = 14

In [44]:
p + 20

34

In [45]:
p = 25

In [46]:
p + 55

80

# Line Continuation

Add a backslash in the code below, explain the change

In [47]:
15 + 31
-26

-26

In [48]:
15 + 31 \
-26

20

# Indexing

Extract any one letter from your name

In [49]:
Name = ' VANSHIKA'

In [51]:
Name[4]

'S'

Extract the letter "u" from "Constitution".

In [54]:
" Constitution" [-5]

'u'

In [56]:
" Constitution" [8]

'u'

# Indentation

Use indentation properly to print the result of the function with an argument of 3.

In [70]:
def ten(x):
    x = 10
    return x

print(ten(3))

10

# Operators

## Comparison Operators

Verify that 25 is smaller than 30,

Verify that 5 multiplied by 3 is less than or equal to 5 to the power of 3.

Verify that 100 is equal to 10 square.

Verify that 53 is not equal to 46.

In [71]:
25 < 30

True

In [72]:
5 * 3 <= 5 ** 3

True

In [75]:
100 == 10 ** 10

False

In [76]:
53 != 46

True

# Logical and Identity Operators

Check whether the following code is True of False:

False or not True and not False

True and not False and True or not False

False and True or False

In [77]:
False or not True and not False

False

In [78]:
True and not False and True or not False

True

In [79]:
False and True or False

False

# Conditional Statement

Assign 200 to x. Create the following piece of code: If x > 200, print out "Big"; If x > 100 and x <= 200, print out "Average"; and If x <= 100, print out "Small". Use the If, Elif, and Else keywords in your code.

In [95]:
x = 200
if x > 200 :
        print("Big")
    
elif x>100 and x<=200:
        print("Average")
        
elif x<=100:
        print("Small")

Average

# Function

## Using a function in Another Function

Define a function that adds 5 to the parameter. Then, define another function that will multiply the newly obtained number by 3. Verify your code was correct by calling the second function with an argument of 5. Was your output equal to 30?

In [99]:
def pluse_10 (x):
    x= x+10
    return x
pluse_10(10)

20

## Combining Conditional Statement and Functions

Define a function, called compare_the_two(), with two arguments. If the first one is greater than the second one, let it print "Greater". If the second one is greater, it should print "Less". Let it print "Equal" if the two values are the same number.

In [103]:
def compare (v,s):
    if v>s:
        print(" Greater")
        
    elif s>v:
        print(" Less")
        
    elif v==s:
        print("Even")
        
compare (10,20)

 Less

Bonus: Define a function that states the value of the argument accompanied by the phrase "Raised to the power of 2:" and returns a value equal to its argument raised to the power of 2. This time, use a new variable, called "result", in the body of the Function. Call the function with some argument to verify it works properly.

Hint: Your knowledge about stating multiple elements on a line can be of great help in solving this exercise!

# Notable Built - In Functions in Python

Give example of:
1) A built in function which tells the maximum value among numbers
2) A built in function which tells the minimum value among numbers
3) A function which tells absolute value
4) A function which rounds off
5) A function which finds sum of a list
6) A function which raises power
7) A function which tells how many characters are there in your name

In [104]:
max(24,28)

28

In [105]:
min(24,28)

24

In [107]:
abs(-100)

100

In [108]:
round(3.4567,2)

3.46

In [109]:
list=[10,20,30]

In [110]:
sum(list)

60

In [111]:
pow(3,5)

243

In [112]:
len("Vanshika")

8