In [ ]:
for items in salesData["Expense Details"].unique():
    salesData[salesData["Expense Details"].str.startswith(item)]

In [ ]:
pankaj_salary = update_expense_details[update_expense_details["Expense Details"].str.startswith('Pankaj')]

In [1]:
import pandas as pd

# Create a DataFrame
df = pd.DataFrame({
    'Date': ['2021-01-01', '2021-01-02', '2021-01-03'],
    'Variable': ['A', 'B', 'A'],
    'Value': [1, 2, 3]
})

# Pivot the DataFrame
pivoted = df.pivot(index='Date', columns='Variable', values='Value')

In [2]:
df

         Date Variable  Value
0  2021-01-01        A      1
1  2021-01-02        B      2
2  2021-01-03        A      3