## Nested for Loops

In [1]:
for i in range(2):
    for j in range(5):
        print([i,j])

[0, 0]
[0, 1]
[0, 2]
[0, 3]
[0, 4]
[1, 0]
[1, 1]
[1, 2]
[1, 3]
[1, 4]

Here i and j are iterator and range() iterable. Now j loop is nested in i loop. The simple explanation to this loop functioning is the outer loop(i) took the first value went in the inner loop (j) and got exicuted till the inner  loop was exausted. And it happened as many time as the values in outer loop.

In [2]:
for i in ['Product A','Product B']:
    for j in range(5):
        print([i,j])

['Product A', 0]
['Product A', 1]
['Product A', 2]
['Product A', 3]
['Product A', 4]
['Product B', 0]
['Product B', 1]
['Product B', 2]
['Product B', 3]
['Product B', 4]

In [3]:
#The prefered way to do it is:
product = ["Product A","Product B"]
exp_sales = [10000,11000,12000,13000,14000]
for i in product:
    for j in exp_sales:
        print([i,j])

['Product A', 10000]
['Product A', 11000]
['Product A', 12000]
['Product A', 13000]
['Product A', 14000]
['Product B', 10000]
['Product B', 11000]
['Product B', 12000]
['Product B', 13000]
['Product B', 14000]

### Triple nested loop

In [4]:
product = ["Product A","Product B"]
exp_sales = [10000,11000,12000,13000,14000]
time_horizon = (1,3,12)
for i in product:
    for j in exp_sales:
        for k in time_horizon:
            print([i,j*k])

['Product A', 10000]
['Product A', 30000]
['Product A', 120000]
['Product A', 11000]
['Product A', 33000]
['Product A', 132000]
['Product A', 12000]
['Product A', 36000]
['Product A', 144000]
['Product A', 13000]
['Product A', 39000]
['Product A', 156000]
['Product A', 14000]
['Product A', 42000]
['Product A', 168000]
['Product B', 10000]
['Product B', 30000]
['Product B', 120000]
['Product B', 11000]
['Product B', 33000]
['Product B', 132000]
['Product B', 12000]
['Product B', 36000]
['Product B', 144000]
['Product B', 13000]
['Product B', 39000]
['Product B', 156000]
['Product B', 14000]
['Product B', 42000]
['Product B', 168000]

In [5]:
#Now to make it more standard

product = ["Product A","Product B"]
exp_sales = [10000,11000,12000,13000,14000]
time_horizon = (1,3,12)

for prod in product:
    for sale in exp_sales:
        for t_hor in time_horizon:
            print('Expected sales for a period of {0} month(s) for {1}: ${sales}'.format(t_hor,
                                                                                         prod,
                                                                                         sales = sale * t_hor))

Expected sales for a period of 1 month(s) for Product A: $10000
Expected sales for a period of 3 month(s) for Product A: $30000
Expected sales for a period of 12 month(s) for Product A: $120000
Expected sales for a period of 1 month(s) for Product A: $11000
Expected sales for a period of 3 month(s) for Product A: $33000
Expected sales for a period of 12 month(s) for Product A: $132000
Expected sales for a period of 1 month(s) for Product A: $12000
Expected sales for a period of 3 month(s) for Product A: $36000
Expected sales for a period of 12 month(s) for Product A: $144000
Expected sales for a period of 1 month(s) for Product A: $13000
Expected sales for a period of 3 month(s) for Product A: $39000
Expected sales for a period of 12 month(s) for Product A: $156000
Expected sales for a period of 1 month(s) for Product A: $14000
Expected sales for a period of 3 month(s) for Product A: $42000
Expected sales for a period of 12 month(s) for Product A: $168000
Expected sales for a period of 1 month(s) for Product B: $10000
Expected sales for a period of 3 month(s) for Product B: $30000
Expected sales for a period of 12 month(s) for Product B: $120000
Expected sales for a period of 1 month(s) for Product B: $11000
Expected sales for a period of 3 month(s) for Product B: $33000
Expected sales for a period of 12 month(s) for Product B: $132000
Expected sales for a period of 1 month(s) for Product B: $12000
Expected sales for a period of 3 month(s) for Product B: $36000
Expected sales for a period of 12 month(s) for Product B: $144000
Expected sales for a period of 1 month(s) for Product B: $13000
Expected sales for a period of 3 month(s) for Product B: $39000
Expected sales for a period of 12 month(s) for Product B: $156000
Expected sales for a period of 1 month(s) for Product B: $14000
Expected sales for a period of 3 month(s) for Product B: $42000
Expected sales for a period of 12 month(s) for Product B: $168000

But using loop is considered a non-Pythonic way of doing it the Pythonioc way of doing it is using <b>List Comprehension</b>

### List Comprehension

So the foramt of the same is:

[An output expression/a formule/ for an  element/iterator variable/ in iterable /the sequesnce/]

In [6]:
numbers = [1,13,4,5,63,100]
numbers

[1, 13, 4, 5, 63, 100]

In [7]:
new_number = []

for n in numbers:
    new_number.append(n*2)
    
print(new_number)

[2, 26, 8, 10, 126, 200]

In [8]:
new_number = [n*2 for n  in numbers]
print(new_number)
#As you can see a list comprehension is easy to read, and quick to write
#The output is directly in a list

[2, 26, 8, 10, 126, 200]

In [9]:
for i in range(2):
    for j in range(5):
        print(i + j, end  = " ")

0 1 2 3 4 1 2 3 4 5

In [11]:
new_list_compre_1 = [i + j for i in range(2) for j in range(5)]
new_list_compre_1

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5]

In [12]:
type(new_list_compre_1)

list

In [22]:
new_list_compre_2 = [[i + j for i in range(2)] for j in range(5)]

In [23]:
new_list_compre_2

[[0, 1], [1, 2], [2, 3], [3, 4], [4, 5]]

In [24]:
for i in range (1,11):
    if i % 2 != 0:
        print(i**3, end =' ')

1 27 125 343 729

In [26]:
#We can put conditions on the output and on the iterable in the list comprehension
list_com_3 = [num ** 3 for num in range(1,11) if num % 2 != 0]
list_com_3
# In this we are putting conditon on iterable

[1, 27, 125, 343, 729]

In [27]:
#Now let's put condition on the output
list_com_4 = [num**3 if num % 2 != 0 else "even" for num in range(1,11)]

In [28]:
list_com_4

[1, 'even', 27, 'even', 125, 'even', 343, 'even', 729, 'even']

<b>List Comprehension is a powerful tool and is a great example of high-quality coded BUT it requires more memory and runs very slow as compared to loops.</b>

## Lambda Functions in Python

Lambda expression is a Pythons syntax for creating anonymous (Lambda) functions

It is mostly used in cases in which you will prefer not to define a whole new function and create a function that will allow you to focus on the function itself

In [29]:
#The treditional way to do it is
def raise_to_the_power_of2(x):
    return(x**2)

In [30]:
raise_to_the_power_of2(3)

9

In [31]:
#The syntax to use lambda function is:
lambda x: x**2

In [32]:
raise_to_the_power_of2_lambda = lambda x: x**2

In [33]:
raise_to_the_power_of2_lambda(3)

9

In [34]:
#the easier way
(lambda x: x/2)(11)

5.5

In [35]:
(lambda x: (2 + 5 * x ** 4) ** 2 / (x + 3) ** 3)(2)

53.792

In [37]:
sum_xy = lambda x,y: x+y
sum_xy(2,3)

5

In [38]:
#you can even use function in function 
sum_xy = lambda x, y: x + y(x)

In [39]:
sum_xy(2, lambda x: x * 5)

12

Features of Lambda function:

It can have one of many parameters but can contain a single expression only

Allow you to write just one line of code to include a simple functionality in a more complex expression

It can only be applied to the larger expression they have been written in