# Iterating Over Range Objects

In [1]:
t = (4,5,6,7)
t

(4, 5, 6, 7)

In [2]:
l = [10,5,10,75,30,100]
l

[10, 5, 10, 75, 30, 100]

In [3]:
s = 'abcde'
s

'abcde'

In [4]:
for i in l:
    print(i, end=' ')

10 5 10 75 30 100

In [5]:
range(5)

range(0, 5)

In [6]:
for i in range(5):
    print(i, end=' ')

0 1 2 3 4

# Nested For Loops - Intro

In [7]:
for i in range(2):
    print(i)

0
1

In [8]:
for j in range(5):
    print(j)

0
1
2
3
4

In [9]:
for i in range(3):
    for j in range(5):
        print(j)

0
1
2
3
4
0
1
2
3
4
0
1
2
3
4

Now to understand what happened lets examine the code 1st the i loop or the outer loop IN which the j loop or the inner loop is nested/placed within/placed inside started,then the code went inside and exicuted till the end of inner loop then it returend to the outerloop again got exicuted and again went inside. You can understand it it better in the example below.

In [10]:
for i in range(2):
    for j in range(5):
        print([i,j])

[0, 0]
[0, 1]
[0, 2]
[0, 3]
[0, 4]
[1, 0]
[1, 1]
[1, 2]
[1, 3]
[1, 4]

Now lets use it in a way in which it should be used

In [11]:
product = ['Product A','Product B']
exp_sales = [10000,11000,12000,13000,14000]

In [12]:
for i in product:
    for j in exp_sales:
        print([i,j])

['Product A', 10000]
['Product A', 11000]
['Product A', 12000]
['Product A', 13000]
['Product A', 14000]
['Product B', 10000]
['Product B', 11000]
['Product B', 12000]
['Product B', 13000]
['Product B', 14000]

# Triple nested loop

In [13]:
product = ['Product A','Product B']
exp_sales = [10000,11000,12000,13000,14000]

In [14]:
time_horizon = (1,3,12)

In [15]:
for i in product:
    for j in exp_sales:
        for k in time_horizon:
            print([i,j*k])

['Product A', 10000]
['Product A', 30000]
['Product A', 120000]
['Product A', 11000]
['Product A', 33000]
['Product A', 132000]
['Product A', 12000]
['Product A', 36000]
['Product A', 144000]
['Product A', 13000]
['Product A', 39000]
['Product A', 156000]
['Product A', 14000]
['Product A', 42000]
['Product A', 168000]
['Product B', 10000]
['Product B', 30000]
['Product B', 120000]
['Product B', 11000]
['Product B', 33000]
['Product B', 132000]
['Product B', 12000]
['Product B', 36000]
['Product B', 144000]
['Product B', 13000]
['Product B', 39000]
['Product B', 156000]
['Product B', 14000]
['Product B', 42000]
['Product B', 168000]

Like this you can nest as many loops as you want, now lets see the way in which we can make it look presentable.

In [16]:
for prod in product:
    for sale in exp_sales:
        for t_hor in time_horizon:
            print(prod, sale*t_hor)

Product A 10000
Product A 30000
Product A 120000
Product A 11000
Product A 33000
Product A 132000
Product A 12000
Product A 36000
Product A 144000
Product A 13000
Product A 39000
Product A 156000
Product A 14000
Product A 42000
Product A 168000
Product B 10000
Product B 30000
Product B 120000
Product B 11000
Product B 33000
Product B 132000
Product B 12000
Product B 36000
Product B 144000
Product B 13000
Product B 39000
Product B 156000
Product B 14000
Product B 42000
Product B 168000

In [17]:
for prod in product:
    for sale in exp_sales:
        for t_hor in time_horizon:
            print('Expected sales for a period of {0} month(s)f for {1}: ${sales}'.format(t_hor,prod,sales = sale * t_hor))

Expected sales for a period of 1 month(s)f for Product A: $10000
Expected sales for a period of 3 month(s)f for Product A: $30000
Expected sales for a period of 12 month(s)f for Product A: $120000
Expected sales for a period of 1 month(s)f for Product A: $11000
Expected sales for a period of 3 month(s)f for Product A: $33000
Expected sales for a period of 12 month(s)f for Product A: $132000
Expected sales for a period of 1 month(s)f for Product A: $12000
Expected sales for a period of 3 month(s)f for Product A: $36000
Expected sales for a period of 12 month(s)f for Product A: $144000
Expected sales for a period of 1 month(s)f for Product A: $13000
Expected sales for a period of 3 month(s)f for Product A: $39000
Expected sales for a period of 12 month(s)f for Product A: $156000
Expected sales for a period of 1 month(s)f for Product A: $14000
Expected sales for a period of 3 month(s)f for Product A: $42000
Expected sales for a period of 12 month(s)f for Product A: $168000
Expected sales for a period of 1 month(s)f for Product B: $10000
Expected sales for a period of 3 month(s)f for Product B: $30000
Expected sales for a period of 12 month(s)f for Product B: $120000
Expected sales for a period of 1 month(s)f for Product B: $11000
Expected sales for a period of 3 month(s)f for Product B: $33000
Expected sales for a period of 12 month(s)f for Product B: $132000
Expected sales for a period of 1 month(s)f for Product B: $12000
Expected sales for a period of 3 month(s)f for Product B: $36000
Expected sales for a period of 12 month(s)f for Product B: $144000
Expected sales for a period of 1 month(s)f for Product B: $13000
Expected sales for a period of 3 month(s)f for Product B: $39000
Expected sales for a period of 12 month(s)f for Product B: $156000
Expected sales for a period of 1 month(s)f for Product B: $14000
Expected sales for a period of 3 month(s)f for Product B: $42000
Expected sales for a period of 12 month(s)f for Product B: $168000

But writing loop is said to be "Non-Pythonic" cause we can use list comprehensions

# List Comprehensions

In [18]:
number = [1,13,4,5,63,100]
number

[1, 13, 4, 5, 63, 100]

In [19]:
new_number = []

for i in number:
    new_number.append(i*2)
    
print(new_number)

[2, 26, 8, 10, 126, 200]

Now this is how a Python user will do it:

In [20]:
new_number = [n * 2 for n in number]
print(new_number)

[2, 26, 8, 10, 126, 200]

In [21]:
for i in range(2):
    for j in range(5):
        print(i + j, end = ' ')

0 1 2 3 4 1 2 3 4 5

This code runs in the following:
first 0 goes in and after that 1 goes in:
0+0,0+1,0+2,0+3,0+4,1+0,1+1,1+2,1+3,1+4

In [23]:
new_list_comprehension_1 = [i+j for i in range(2) for j in range(5)]
new_list_comprehension_1

[0, 1, 2, 3, 4, 1, 2, 3, 4, 5]

In [24]:
type(new_list_comprehension_1)

list

In [29]:
new_list_comprehension_2 = [[i+j for i in range(2)]for j in range (5)]
new_list_comprehension_2

[[0, 1], [1, 2], [2, 3], [3, 4], [4, 5]]

Now we need to see how we can put conditions in this situation, not just on the iterable but also on the output

In [33]:
[num**3 for num in range(1,11) if num % 2 != 0]

[1, 27, 125, 343, 729]

In [34]:
[num**3 if num % 2 != 0 else 'even' for num in range(1,11)]

[1, 'even', 27, 'even', 125, 'even', 343, 'even', 729, 'even']

if in the above code we don't put a else statement it will show error. Cause while using this you need to tell python what to do when condition is not fulfilled