In [21]:
import pandas as pd #imported pandas
import numpy as np #imported numpy
np.set_printoptions(suppress = True,
                   linewidth = 100,
                   precision = 2)

def excel_debit_creator(filename, sheet_name, header_skip, skip_footer, use_cols_str):
    
    header_skip = int(header_skip)
    skip_footer = int(skip_footer)
    use_cols = [int(col) for col in use_cols_str.split(',')]
    
    com_data_debit = pd.read_excel(filename,
                                   sheet_name,
                                   header=header_skip,
                                   skipfooter=skip_footer,
                                   usecols=use_cols)
    nan_indices = com_data_debit[com_data_debit.isna().any(axis=1)].index
    com_data_debit = com_data_debit.drop(nan_indices)
    loop_output_subcat ={}
    for i in com_data_debit["Details"].unique():
        key = f'{i}'
        details = com_data_debit[com_data_debit["Details"].str.startswith(i)]["Debit"].array.sum()
        loop_output_subcat[key]=details
        
    sub_cat_debit_total = pd.DataFrame(loop_output_subcat, index=range(1))
    sub_cat_debit_total=sub_cat_debit_total.T
    sub_cat_debit_total.to_excel("Sub-Category-Debit-Total-'%s'.xlsx" % sheet_name)
    

filename = input("Please enter file name with extension: ")
sheet_name = input("Please enter file sheet name: ")
header_skip = input("Please enter the number of top rows to skip: ")
skip_footer = input("Please enter the number of bottom rows to skip: ")
use_cols_str = input("Please enter which columns you want to choose to analyse: ")

excel_debit_creator(filename, sheet_name, header_skip, skip_footer, use_cols_str)

Please enter file name with extension: Siddharth khata book.xlsx
Please enter file sheet name: Feb
Please enter the number of top rows to skip: 1
Please enter the number of bottom rows to skip: 2
Please enter which columns you want to choose to analyse: 0,1,2,3

In [2]:
com_data_debit

     Date Unnamed: 1                    Details    Debit
0       1        Feb       atm withdrawal 13+13      NaN
1       1        Feb                  samajseva  28000.0
2       1        Feb                 vegetables    610.0
3       1        Feb                     kirana   3342.0
4       1        Feb                      dairy   2775.0
..    ...        ...                        ...      ...
169    27        Feb                 vegetables    270.0
170    27        Feb                      dairy   2820.0
171    27        Feb                     kirana   2786.0
172    27        Feb  old butter pending 1/2 kg    260.0
173    27        Feb               cash counter      NaN

[174 rows x 4 columns]

In [3]:
com_data_debit

     Date Unnamed: 1                    Details    Debit
0       1        Feb       atm withdrawal 13+13      NaN
1       1        Feb                  samajseva  28000.0
2       1        Feb                 vegetables    610.0
3       1        Feb                     kirana   3342.0
4       1        Feb                      dairy   2775.0
..    ...        ...                        ...      ...
169    27        Feb                 vegetables    270.0
170    27        Feb                      dairy   2820.0
171    27        Feb                     kirana   2786.0
172    27        Feb  old butter pending 1/2 kg    260.0
173    27        Feb               cash counter      NaN

[174 rows x 4 columns]

In [6]:
com_data_debit.isna().sum()

Date           0
Unnamed: 1     0
Details        0
Debit         25
dtype: int64

In [7]:
nan_indices = com_data_debit[com_data_debit.isna().any(axis=1)].index

In [8]:
nan_indices

Index([  0,   7,  14,  20,  25,  33,  40,  41,  46,  54,  55,  65,  74,  82,
        88,  94, 101, 102, 109, 117, 129, 143, 152, 165, 173],
      dtype='int64')

In [9]:
com_data_debit = com_data_debit.drop(nan_indices)

In [10]:
com_data_debit

     Date Unnamed: 1                    Details    Debit
1       1        Feb                  samajseva  28000.0
2       1        Feb                 vegetables    610.0
3       1        Feb                     kirana   3342.0
4       1        Feb                      dairy   2775.0
5       1        Feb                     petrol    500.0
..    ...        ...                        ...      ...
168    27        Feb                eggs 2 tray    267.0
169    27        Feb                 vegetables    270.0
170    27        Feb                      dairy   2820.0
171    27        Feb                     kirana   2786.0
172    27        Feb  old butter pending 1/2 kg    260.0

[149 rows x 4 columns]

In [11]:
com_data_debit.isna().sum()

Date          0
Unnamed: 1    0
Details       0
Debit         0
dtype: int64

In [12]:
com_data_debit["Details"].unique()

array(['samajseva', 'vegetables', 'kirana', 'dairy', 'petrol', 'mutton', 'eggs', 'lemon',
       'stationary', 'utensil', 'chicken ib', 'hukka exp', 'mutton 2kg', 'eggs 2 tray',
       'onion 10kg', 'toilet freshners', '5 kg paneer', 'old cling flim payment',
       'staff party liquor', '52kg onion', '2kg mutton', 'parking monthly', 'gulab jamun',
       'mutton 2 kg', 'mixer repair', 'ginger', 'green chilli', 'potato', 'Daniya 3kg', 'kakdi',
       'garlic', 'hukka pot and exp', 'khowa', '5kg paneer', 'chakka', 'onion 60kg', 'kot books',
       'fish', '36ltr oil rice bran', 'onion', 'old butter pending 1/2 kg'], dtype=object)

In [14]:
com_data_debit["Details"].value_counts()

Details
dairy                        22
kirana                       21
vegetables                   21
petrol                       16
lemon                        15
eggs 2 tray                   6
mutton                        6
mutton 2kg                    4
eggs                          4
toilet freshners              2
hukka exp                     2
hukka pot and exp             1
Daniya 3kg                    1
garlic                        1
kakdi                         1
5kg paneer                    1
khowa                         1
samajseva                     1
chakka                        1
onion 60kg                    1
kot books                     1
green chilli                  1
fish                          1
36ltr oil rice bran           1
onion                         1
potato                        1
2kg mutton                    1
ginger                        1
mixer repair                  1
mutton 2 kg                   1
gulab jamun                   1
parking monthly               1
52kg onion                    1
staff party liquor            1
old cling flim payment        1
5 kg paneer                   1
onion 10kg                    1
chicken ib                    1
utensil                       1
stationary                    1
old butter pending 1/2 kg     1
Name: count, dtype: int64

In [16]:
locations=com_data_debit.groupby('Details').groups
for key, value in locations.items():
    print(f"{key}: {value}")

2kg mutton: Index([73], dtype='int64')
36ltr oil rice bran: Index([156], dtype='int64')
5 kg paneer: Index([62], dtype='int64')
52kg onion: Index([67], dtype='int64')
5kg paneer: Index([132], dtype='int64')
Daniya 3kg: Index([124], dtype='int64')
chakka: Index([133], dtype='int64')
chicken ib: Index([35], dtype='int64')
dairy: Index([  4,  11,  19,  24,  30,  38,  43,  51,  61,  70,  80,  86,  91,  99,
       106, 113, 118, 140, 150, 158, 164, 170],
      dtype='int64')
eggs: Index([10, 29, 97, 155], dtype='int64')
eggs 2 tray: Index([49, 69, 79, 111, 138, 168], dtype='int64')
fish: Index([146], dtype='int64')
garlic: Index([127], dtype='int64')
ginger: Index([120], dtype='int64')
green chilli: Index([122], dtype='int64')
gulab jamun: Index([87], dtype='int64')
hukka exp: Index([47, 128], dtype='int64')
hukka pot and exp: Index([130], dtype='int64')
kakdi: Index([125], dtype='int64')
khowa: Index([131], dtype='int64')
kirana: Index([  3,   9,  18,  22,  28,  37,  44,  53,  59,  71,  76,  85,  90,  98,
       105, 112, 139, 148, 157, 163, 171],
      dtype='int64')
kot books: Index([136], dtype='int64')
lemon: Index([17, 26, 52, 58, 68, 78, 84, 104, 115, 121, 135, 151, 154, 162, 166], dtype='int64')
mixer repair: Index([110], dtype='int64')
mutton: Index([6, 13, 15, 31, 137, 145], dtype='int64')
mutton 2 kg: Index([92], dtype='int64')
mutton 2kg: Index([48, 108, 119, 159], dtype='int64')
old butter pending 1/2 kg: Index([172], dtype='int64')
old cling flim payment: Index([63], dtype='int64')
onion: Index([167], dtype='int64')
onion 10kg: Index([57], dtype='int64')
onion 60kg: Index([134], dtype='int64')
parking monthly: Index([75], dtype='int64')
petrol: Index([5, 12, 32, 39, 45, 72, 81, 89, 95, 100, 107, 116, 126, 142, 144, 160], dtype='int64')
potato: Index([123], dtype='int64')
samajseva: Index([1], dtype='int64')
staff party liquor: Index([64], dtype='int64')
stationary: Index([23], dtype='int64')
toilet freshners: Index([60, 149], dtype='int64')
utensil: Index([34], dtype='int64')
vegetables: Index([  2,   8,  16,  21,  27,  36,  42,  50,  56,  66,  77,  83,  93,  96,
       103, 114, 141, 147, 153, 161, 169],
      dtype='int64')

In [18]:
loop_output_subcat ={}
for i in com_data_debit["Details"].unique():
    key = f'{i}'
    details = com_data_debit[com_data_debit["Details"].str.startswith(i)]["Debit"].array.sum()
    loop_output_subcat[key]=details

In [19]:
loop_output_subcat

{'samajseva': 28000.0,
 'vegetables': 14402.0,
 'kirana': 80231.0,
 'dairy': 47907.0,
 'petrol': 8000.0,
 'mutton': 11700.0,
 'eggs': 2764.0,
 'lemon': 4420.0,
 'stationary': 280.0,
 'utensil': 440.0,
 'chicken ib': 1499.0,
 'hukka exp': 4570.0,
 'mutton 2kg': 5200.0,
 'eggs 2 tray': 1639.0,
 'onion 10kg': 250.0,
 'toilet freshners': 320.0,
 '5 kg paneer': 1400.0,
 'old cling flim payment': 650.0,
 'staff party liquor': 1860.0,
 '52kg onion': 1100.0,
 '2kg mutton': 1300.0,
 'parking monthly': 300.0,
 'gulab jamun': 500.0,
 'mutton 2 kg': 1300.0,
 'mixer repair': 220.0,
 'ginger': 80.0,
 'green chilli': 80.0,
 'potato': 50.0,
 'Daniya 3kg': 90.0,
 'kakdi': 25.0,
 'garlic': 180.0,
 'hukka pot and exp': 3960.0,
 'khowa': 140.0,
 '5kg paneer': 1400.0,
 'chakka': 800.0,
 'onion 60kg': 1320.0,
 'kot books': 680.0,
 'fish': 1000.0,
 '36ltr oil rice bran': 4392.0,
 'onion': 2430.0,
 'old butter pending 1/2 kg': 260.0}

In [20]:
sub_cat_debit_total = pd.DataFrame(loop_output_subcat, index=range(1))
sub_cat_debit_total=sub_cat_debit_total.T
sub_cat_debit_total.to_excel("Sub-Category-Debit-Total-Feb.xlsx")

In [23]:
# Load the two Excel files into DataFrames
df1 = pd.read_excel("Sub-Category-Debit-Total-Feb.xlsx")
df2 = pd.read_excel("Sub-Category-Debit-Total-'Feb'.xlsx")

# Compare DataFrames for equality
if df1.equals(df2):
    print("The two Excel files are identical.")
else:
    print("The two Excel files are different.")

The two Excel files are identical.